stages:
  - stage: Build
    jobs:
      - job: Build
        pool:
          vmImage: "Ubuntu-16.04"
        continueOnError: true
        steps:
          - script: echo my first build job
  - stage: Deploy
    jobs:
      # track deployments on the environment
      - deployment: DeployWeb
        pool:
          vmImage: "Ubuntu-16.04"
        # creates an environment if it doesn’t exist
        environment: "smarthotel-dev"
        strategy:
          # default deployment strategy
          runOnce:
            deploy:
              steps:
                - script: echo my first deployment
      - deployment: DeploySomethingelse
        pool:
          vmImage: "Ubuntu-16.04"
        # creates an environment if it doesn’t exist
        environment: "smarthotel-dev"
        strategy:
          # default deployment strategy
          runOnce:
            deploy:
              steps:
                - script: echo my first deployment
      - deployment: DeployWeb
        pool:
          vmImage: "Ubuntu-16.04"
        # creates an environment if it doesn’t exist
        environment: "smarthotel-staging"
        strategy:
          # default deployment strategy
          runOnce:
            deploy:
              steps:
                - script: echo my first deployment
      - deployment: DeploySomethingelse
        pool:
          vmImage: "Ubuntu-16.04"
        # creates an environment if it doesn’t exist
        environment: "smarthotel-staging"
        strategy:
          # default deployment strategy
          runOnce:
            deploy:
              steps:
                - script: echo my first deployment
